<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Define your beans here .Change class name to change dependency -->
	<!-- <bean id="firstFloor" class="org.shadab.demo.springioc.FirstFloorRoom"></bean> -->
<!-- 	<bean id="secondFloor" class="org.shadab.demo.springioc.SecondFloorRoom"></bean>
 -->
	<!--constructor injection -->
	<!-- define dependency/helper -->
	<bean id="mydailyService" class="org.shadab.demo.service.MorningService"></bean>
	
	<!-- inject dependency/helper using constructor injection -->
	<bean id="firstFloor" class="org.shadab.demo.springioc.FirstFloorRoom">
		<constructor-arg ref="mydailyService"></constructor-arg>
	</bean>
	<!-- inject dependency/helper using constructor injection -->
<!-- 	<bean id="secondFloor" class="org.shadab.demo.springioc.SecondFloorRoom">
		<constructor-arg ref="dailyService"></constructor-arg>
	</bean> -->
	
	<!-- inject using setter injection -->
	<bean id="secondFloor" class="org.shadab.demo.springioc.SecondFloorRoom">
		<property name="dailyService" ref="mydailyService"></property>
	</bean> 
	


</beans>




